/* latin */
@font-face {
  font-family: 'PTSHandwriting';
  font-style: normal;
  font-weight: 400;
  src: url(Legoman173.github.io/fonts/PTSHandwriting.ttf) format('ttf');
  unicode-range: U+0000-00FF;
}
